.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0!important;
    min-height: 20vh;
    margin-top: 50px;
    background: linear-gradient(to right, #555555, #000000);
}