.home-page {
    width: 100vw;
    height: fit-content;
    display: flex;
    overflow: auto;
    flex-direction: column;
    position: relative;
    scroll-behavior: smooth;
}

.home-page::-webkit-scrollbar {
    display: none;
    scroll-behavior: smooth;
}