.introduction {
    width: 100%;
    height: fit-content;
}

.introduction .intro-para {
    margin: 30px;
    font-size: calc(8px + 0.8vw);
}

.introduction .features {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.introduction .key-features-column {
    align-items: flex-start;
    padding-left: 20%;
}

@media only screen and (max-width: 800px) {
    .introduction .intro-para {
        margin: 0;
        text-wrap: wrap;
        font-size: 1.1rem;
        text-align: justify;
    }

    .introduction .key-features-column {
        padding: 0;
        flex-direction: row;
        width: 100%;
        /* justify-content: space-evenly; */
        align-items: center;
        flex-wrap: wrap;
    }

    .introduction .features {
        margin: 20px;
        flex: 1 1 0;
    }
}