.navigation-bar {
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 50;
    display: flex;
    flex-direction: row;
    /* background-color: #070917; */
    /* background-color: red; */
    align-items: center;
    padding: 5px 5%;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    justify-content: space-between;
}

.navigation-bar ul {
  font-weight: bold;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.navigation-bar ul li:hover {
    color: aqua;
}

.navigation-bar .wrapper ul li {
  margin: 0 25px;
  cursor: pointer;
}


/* Mobile view */
@media screen and (max-width: 800px) {
    .navigation-bar {
        display: none;
    }
}




@keyframes gradientAnimation {
    0%{
        background: var(--gradient-step01);
        -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }   

    50% {
        background: var(--gradient-step02);
        -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }

    100% {
        background: var(--gradient-step03);
        -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
    
}