.project-card .card {
    width: 70%;
    max-width: 90%;
    overflow-y: auto;
    max-height: 95vh;
    height: fit-content;
    background-color: #0709175e;
    backdrop-filter: blur(6px);
    border-radius: 20px;
    border: 2px solid white;
    padding: 20px;
    -webkit-backdrop-filter: blur(6px);
}

.project-card .card::-webkit-scrollbar {
    display: none;
}

.project-card .card-name {
    font-size: calc(2vw + 10px);
}

.project-card .primary-image {
    width: 90%;
    aspect-ratio: 1;
    overflow: hidden;
}

.project-card .primary-image img {
    width: 100%;
    height: 100%;
    object-fit:contain;
    /* display: block; */
}

.project-card .mini-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-card .start-column {
    justify-content: start;
}

.project-card .mini-images {
    cursor: pointer;
    position: relative;
    min-width: 20%;
    border: 1px solid rgba(255, 255, 255, 0.384);
    max-width: 20%;
    overflow: hidden;
    aspect-ratio: 1;
    margin: 0 5px 5px 0;
}

.project-card .mini-images .play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 50%;
    display: flex;
    justify-content: center;
    aspect-ratio: 1;
    transform: translateY(-50%) translateX(-50%);
}

.project-card .platform {
    width: 100%;
    margin: 5px;
}

.project-card .platform > .row {
    justify-content: flex-start;
    width: 100%;
} 

.project-card .platform h4 {
    margin: 0 5px;
    font-size: calc(8px + 0.4vw);
}

.project-card .detailed-description {
    font-size: calc(0.5vw + 10px);
}



@media only screen and (max-width: 800px){
    .project-card .mobile-row {
        flex-direction: row;
    }

    .project-card .card {
        width: 95%;
        max-height: 80%;
    }
}